section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

form {
  width: 30%;
  margin: 2rem auto;
}

@media (max-width: 1079px) {
  form {
    width: 45%;
  }
}

@media (max-width: 719px) {
  form {
    width: 60%;
  }
}

input[type="text"], input[type="password"] {
  display: block;
  border: none;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  height: 2rem;
  margin-top: 1rem;
  padding: 4px 1rem;
  outline: none;
  width: 100%;
  margin-bottom: 3rem;
  font-weight: bold;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #90f;
}

input[type="submit"] {
  background-color: rgba(153, 0, 255, 0.1);
  color: white;
  width: 50%;
  height: 3rem;
  border: 1px solid #90f;
  border-radius: 5px;
  margin: 0 auto;
}

input[type="submit"]:hover {
background-color: rgba(153, 0, 255, 0.5);
color: #fff;
}
