main {
  display: flex;
  align-items: center;
  justify-content: center;
}


section {
  width: 60%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #adf;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2));
  box-shadow: 1px 1px 2px #90f, -1px -1px 2px #90f;
}

@media (min-width: 721px) {
  section {
    width: 35%;
  }
}

@media (min-width: 1025px) {
  section {
    width: 20%;
  }
}


form {
  width: 100%;
  margin: 0 auto;
}


input {
  padding-left: 1rem;
  display: block;
  background-color: #eef;
  border-radius: 0.5rem;
  border: 1px solid #90f;
  font-size: 2rem;
  height: 4rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

input[type="submit"] {
  color: #fff;
  margin: 0 auto;
  width: 50%;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2));
  box-shadow: inset 1px 1px 2px #fff, inset -1px -1px 1px #90f, 1px 1px 1px #888;
}

input[type="submit"]:hover {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2));
}

label {
  color: #fff;
}

section p {
  text-align: right;
}
