
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fff;
}

th {
  width: 20%;
}

ol li {
  margin-bottom: 1rem;
}


@media (max-width: 720px) {
  .doc {
    margin: 1rem;
  }

  .doc ol {
    padding-left: 1rem;
  }

  th {
    width: 30%;
  }
}
