nav, nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 720px) {
  .dummy {
    display: none;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid #90f;
    margin-bottom: -2px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }

  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #90f;
    margin: -1px;
  }
}

@media (min-width: 721px) {
  main {
    display: grid;
    grid-template-columns: 3fr 30fr 1fr;
  }
  nav ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }

  nav ul li {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr;
    border-right: 2px solid #90f;
    margin-right: -2px;
  }

  nav ul li:last-child {
    border-bottom: 2px solid #90f;
    margin-bottom: -2px;
  }

  nav {
    position: fixed;
    top: 0%;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    border-top: 1px solid #90f;
    margin-top: -1px;
    line-height: 3;
  }

  .nav:first-child {
    border-top: 2px solid #90f;
    margin-top: -2px;
  }
}

@media (min-width: 1080px) {
  main {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.active {
  background-color: rgba(153, 0, 255, 0.5);
}

.no_display {
  display: none;
}

.modal, .loaderBg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  align-items: center;
  justify-content: center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: black;
  background-color: #fefefe;
  padding: 0px 13.75px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.modal-text {
  text-align: center;
}

@media (max-width: 1280px) {
  .modal-content {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .modal-content {
    width: 90%;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #90f;
  border-bottom: 16px solid #90f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky ~ section {
  padding-top: 4.5rem;
}
