nav, nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 720px) {
  .dummy {
    display: none;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid #90f;
    margin-bottom: -2px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }

  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #90f;
    margin: -1px;
  }
}

@media (min-width: 721px) {
  main {
    display: grid;
    grid-template-columns: 3fr 30fr 1fr;
  }
  nav ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }

  nav ul li {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr;
    border-right: 2px solid #90f;
    margin-right: -2px;
  }

  nav ul li:last-child {
    border-bottom: 2px solid #90f;
    margin-bottom: -2px;
  }

  nav {
    position: fixed;
    top: 0%;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    border-top: 1px solid #90f;
    margin-top: -1px;
    line-height: 3;
  }

  .nav:first-child {
    border-top: 2px solid #90f;
    margin-top: -2px;
  }
}

@media (min-width: 1080px) {
  main {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.active {
  background-color: rgba(153, 0, 255, 0.5);
}

.no_display {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky ~ section {
  padding-top: 4.5rem;
}
